@import "../../styles/colors.scss";

.login {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100vh;

  .header {
    background: $primary;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-top: 40px solid $primaryDark;

    img {
      margin-top: 40px;
    }

    h1 {
      margin: 16px 0px 40px;
      color: $white;
    }
  }

  .form {
    display: flex;
    align-self: center;
    flex-direction: column;
    background: $white;
    padding: 40px;
    width: 400px;
    border-radius: 8px;
    box-shadow: 0px 1px 3px -1px $black;

    h2 {
      color: $primaryDark;
      text-align: center;
      font-size: 20px;
      text-transform: uppercase;
    }

    .submit {
      margin-top: 32px;

      &:disabled {
        background: $disabledBackground;
        color: $disabledColor;

        &:hover {
          opacity: 1;
        }
      }
    }

    .link {
      text-align: center;
      color: $primary;
      text-transform: lowercase;
      margin-top: 16px;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
