@import "../../../styles/colors.scss";

.header {
  background: $primary;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-top: 40px solid $primaryDark;

  img {
    margin-top: 40px;
  }

  h1 {
    margin: 16px 0px 40px;
    color: $white;
  }
}
